* {
    color:aliceblue;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding: 0;
   
    line-height: 2;
}

button,
#initials {
    font-weight:bolder;
    background-color: aquamarine;
    line-height: 2.5;
    color: black;
   /* border: 2px green solid; */
    border-radius: 5px;
    width: 50%;
    margin:10px;
}

.container {
  /*-  border: 1px solid red;*/
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-self: start;

}
/* Delete BORDERS after */
body {
    background-color: rgb(0, 0, 0);
    width: 100%;
    overflow: hidden;
    
}
/*-----------------------------------------------*/
#top-bar {
    font-size: larger;
    display: inline-flex;
    width:100%;
  /*-  border: 1px solid red;*/
}

.scores {
    width: 50%;
    padding: 20px;
   /*- border: 1px solid rgb(8, 0, 255);*/
}

a:hover {
    color: aquamarine;
}

.timer {
    text-align: end;
    width: 50%;
    justify-content: end;
    padding: 20px;
    /*-border: 1px solid rgb(0, 255, 68);*/
}

#countdown {
    display: block;
    font-size: larger;
}


/*------Parent +4 div children-----------------------------------------*/

.main-screen {
   /*- border: 1px solid rgb(242, 255, 0);*/
    padding: 20px;
    display: block;

}


/*----INTRODUCTION PAGE-----*/
/*---------Parent +3 children <h1><p><button>--------------------------------------*/
#introduction, 
h1,
h2,
#questions,
#fin-quiz-page {
    margin: 10%;
    margin-top: 5%;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}


/*----QUESTIONS  PAGE-----*/
/*---------Parent +2 children <h2><li button>--------------------------------------*/
#questions{
    
}

li {
    text-align: center;
    list-style: none;
}

/*----FINISH QUIZ PAGE-----*/
/*---------Parent +4 children <h2><px2><button>--------------------------------------*/
.fin-quiz-page {
    display: none;
    margin: auto;
    padding: 200px;
    justify-content: center;
    text-align: center;
}

#initials {
    
}

.show {
    display: block;
}

.hide {
    display: none;
}